@font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:200;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscQyyS4J0.woff2) format('woff2');
    unicode-range:U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:200;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscSCyS4J0.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:200;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscRiyS.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:300;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscQyyS4J0.woff2) format('woff2');
    unicode-range:U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:300;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscSCyS4J0.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:300;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscRiyS.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscQyyS4J0.woff2) format('woff2');
    unicode-range:U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscSCyS4J0.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscRiyS.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscQyyS4J0.woff2) format('woff2');
    unicode-range:U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscSCyS4J0.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscRiyS.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscQyyS4J0.woff2) format('woff2');
    unicode-range:U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscSCyS4J0.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscRiyS.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscQyyS4J0.woff2) format('woff2');
    unicode-range:U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscSCyS4J0.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscRiyS.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:800;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscQyyS4J0.woff2) format('woff2');
    unicode-range:U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:800;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscSCyS4J0.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:800;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscRiyS.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:900;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscQyyS4J0.woff2) format('woff2');
    unicode-range:U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:900;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscSCyS4J0.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  } 
  @font-face { 
    font-family:'Cairo';
    font-style:normal;
    font-weight:900;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/cairo/v22/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscRiyS.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } 
  @font-face { 
    font-family:"Font Awesome 5 Brands";
    font-style:normal;
    font-weight:normal;
    src:url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-brands-400.eot);
    src:url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-brands-400.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-brands-400.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-brands-400.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-brands-400.svg#fontawesome) format("svg");
  } 
  @font-face { 
    font-family:"Font Awesome 5 Free";
    font-style:normal;
    font-weight:400;
    src:url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-regular-400.eot);
    src:url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-regular-400.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-regular-400.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-regular-400.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-regular-400.svg#fontawesome) format("svg");
  } 
  @font-face { 
    font-family:"Font Awesome 5 Free";
    font-style:normal;
    font-weight:900;
    src:url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-solid-900.eot);
    src:url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-solid-900.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-solid-900.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-solid-900.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.2.0/webfonts/fa-solid-900.svg#fontawesome) format("svg");
  } 
  @media all{ 
    * { 
      box-sizing:  border-box;
      -webkit-font-smoothing:  antialiased; 
      word-break:  break-word; 
      word-wrap:  break-word;
    } 
  
    div { 
      font-family: 'drmohsen', sans-serif; 
      font-weight: bold; 
      letter-spacing: 0 !important;
    } 
  
    .container > div  { 
      float: right; 
      width: 100%;
    } 
  
    .boxed,.container > .boxed { 
      float: none; 
      margin: 0 auto; 
      width: 1340px;
    } 
  
    .container > .boxed:first-child  { 
      margin-top: .7rem;
    } 
  
    .block { 
      float: right; 
      width: 100%;
    } 
  
    main { 
      display: block;
    } 
  }     
  
  body { 
      background-color:    #181a1b;
      border-color:   #736b5e; 
      color:   #e8e6e3;
  } 
  
  @media all{ 
    body { 
      font-family:   "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
      font-weight:  300; 
      letter-spacing:    -0.015em; 
      border:    none; 
      margin:  0; 
      padding:  0; 
      background:   #f5efe0; 
      box-sizing:   border-box; 
      color:  #29333f; 
      font-size:   1.8rem; 
      text-align:   right;
      line-height: 1.2; 
      direction: rtl; 
      background-color: #f3f4f9; 
      -webkit-font-smoothing: antialiased; 
      -moz-osx-font-smoothing: grayscale;
    } 
  }     
  
  body { 
      border-color:    initial;
      background-image:   initial; 
      background-color:   rgb(29, 32, 33);
      color:   rgb(199, 194, 187); 
      font-family: "Cairo" !important; 
      font-weight: 700 !important;
  } 
  
  html { 
      background-color:   #181a1b;
      color-scheme:   dark !important;
      border-color: #736b5e; 
      color: #e8e6e3;
  } 
  
  @media all{ 
    html { 
      border:   none; 
      margin:   0; 
      padding:   0;
      font-size:  100%;
      scroll-behavior:  smooth;
    } 
  }     
  
  html { 
      border-color: initial;
  } 
  
  @media all{ 
    .post-wrapper { 
      
      width: 93%; 
      display: inline-block; 
      padding: 0 0 0 20px;
    } 
  
    *,:before,:after { 
      box-sizing:  border-box;
      -webkit-font-smoothing:  antialiased; 
      word-break:  break-word; 
      word-wrap:  break-word;
    } 
  }     
  
  :selection { 
      background-color: #004daa !important; 
      color: #e8e6e3 !important;
  } 
  
  :-webkit-scrollbar { 
      background-color: #202324; 
      color: #aba499;
  } 
  
  :-webkit-scrollbar-thumb { 
      background-color: #454a4d;
  } 
  
  :-webkit-scrollbar-corner { 
      background-color: #181a1b;
  } 
  
  @media all{ 
    .content { 
      background: #fff none repeat scroll 0 0; 
      overflow: hidden; 
      padding: 1.5rem; 
      font-size: 1.2rem; 
      margin-bottom: 1rem; 
      background-image: none; 
      background-position-x: 0px; 
      background-position-y: 0px; 
      background-size: initial; 
      background-repeat-x: repeat; 
      background-repeat-y: repeat; 
      background-attachment: scroll; 
      background-origin: initial; 
      background-clip: initial; 
      background-color: rgb(255, 255, 255);
    } 
  
    .card { 
      background-color: #fff; 
      border-radius: 0; 
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    } 
  }     
  
  .content { 
      background-image: none; 
      background-color: rgb(24, 26, 27);
  } 
  
  .card { 
      background-color: rgb(24, 26, 27); 
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  } 
  
  @media all{ 
    li { 
      font-family:   'drmohsen', sans-serif; 
      font-weight:   bold; 
      letter-spacing:   0 !important;
      border:  none; 
      font-size:  inherit; 
      line-height:  1.5; 
      margin:  0.5rem 2rem 0 0;
      padding:  0; 
      text-align:  inherit;
    } 
  }     
  
  li { 
      border-color: initial;
  } 
  
  @media all{ 
    .post-tags { 
      list-style: none; 
      padding: 0; 
      margin-top: 50px; 
      margin-right: 0; 
      font-size: 20px;
    } 
  }     
  
  .post-tags { 
      list-style-image: initial;
  } 
  
  @media all{ 
    .relatedtags { 
      margin-top: 70px;
    } 
  
    .section-inner { 
      margin-right: auto; 
      margin-left: auto; 
      max-width: 120rem; 
      width: calc(100% - 4rem);
    } 
  
    .comments-wrapper { 
      margin-top: 4rem;
    } 
  
    span { 
      font-family: 'drmohsen', sans-serif; 
      font-weight: bold; 
      letter-spacing: 0 !important;
    } 
  
    hr { 
      background: #91D1B9 none repeat scroll 0 0; 
      border: 0 none; 
      height: 1px; 
      display: inline-block; 
      width: 100%; 
      background-image: none; 
      background-position-x: 0px; 
      background-position-y: 0px; 
      background-size: initial; 
      background-repeat-x: repeat; 
      background-repeat-y: repeat; 
      background-attachment: scroll; 
      background-origin: initial; 
      background-clip: initial; 
      background-color: rgb(145, 209, 185);
    } 
  }     
  
  hr { 
      background-image: none; 
      background-color: rgb(43, 102, 85); 
      border-color: initial;
  } 
  
  @media all{ 
    div#respond { 
      margin-top: 20px;
    } 
  
    .comment-respond:after { 
      clear: both; 
      content: ""; 
      display: block;
    } 
  
    .article-middle { 
      margin: 20px 0;
    } 
  }     
  
  a { 
      color: #3391ff;
  } 
  
  @media all{ 
    a { 
      transition:   all 0.15s linear;
      color:  #3c9aeb; 
      text-decoration:  none; 
      outline: none;
    } 
  }     
  
  a { 
      color:  rgb(72, 165, 236); 
      text-decoration-color:  initial; 
      outline-color: initial;
  } 
  
  @media all{ 
    .post-tags a  { 
      background: #E79B3A; 
      padding: 6px 12px; 
      font-size: 16px; 
      border-radius: 50px; 
      color: #fff; 
      display: inline-block; 
      margin: 2px 0; 
      transition: all 0.3s ease-in-out;
    } 
  }     
  
  .post-tags a  { 
      background-image: initial; 
      background-color: rgb(164, 101, 20); 
      color: rgb(232, 230, 227);
  } 
  
  @media all{ 
    a:hover { 
      text-decoration: none;
    } 
  
    a:active,a:hover { 
      outline: 0;
    } 
  }     
  
  a:hover { 
      text-decoration-color: initial;
  } 
  
  a:active,a:hover { 
      outline-color: initial;
  } 
  
  @media all{ 
    .post-tags a:hover  { 
      background: #91D1B9;
    } 
  }     
  
  .post-tags a:hover  { 
      background-image: initial; 
      background-color: rgb(43, 102, 85);
  } 
  
  @media all{ 
    h4 { 
      font-family:     'drmohsen', sans-serif; 
      font-weight:  600; 
      letter-spacing:    -0.0415625em; 
      border:    none; 
      font-size:   21px;
      line-height:    1.25; 
      margin:    1rem 0;
      padding:    0; 
      text-align:    inherit;
      font-feature-settings:   "lnum"; 
      font-variant-numeric:   lining-nums; 
      font-style: normal;
    } 
  }     
  
  h4 { 
      border-color:   initial;
      font-weight:  700 !important;
      font-family: "Cairo" !important; 
  } 
  
  @media all{ 
    #related h4  { 
      text-align: center; 
      font-size: 30px; 
      border-bottom: 1px solid #cecece; 
      padding-bottom: 15px;
    } 
  }     
  
  #related h4  { 
      border-bottom-color: rgb(62, 67, 70);
  } 
  
  @media all{ 
    .related-box { 
      width: 32.3%; 
      display: inline-block; 
      margin: 0.2%;
    } 
  
    .section-inner.max-percentage { 
      width: 100%;
    } 
  
    .section-inner.small { 
      max-width: 80rem;
    } 
  
    .section-inner.thin { 
      max-width: 58rem;
    } 
  
    .comments .comments-header + div  { 
      margin-top: 0; 
      padding-top: 0;
    } 
  
    h2 { 
      font-family:    'drmohsen', sans-serif; 
      font-weight:   700; 
      letter-spacing:   -0.0415625em; 
      border:   none; 
      font-size:  25px;
      line-height:   1.25; 
      margin:   1rem 0;
      padding:   0; 
      text-align:   inherit;
      font-feature-settings:  "lnum"; 
      font-variant-numeric:  lining-nums; 
    } 
  }     
  
  h2 { 
      border-color:  initial;
      font-family: "Cairo" !important; 
      font-weight: 700 !important;
  } 
  
  @media all{ 
    .comment-reply-title { 
      margin: 0 0 4rem 0; 
      text-align: center;
    } 
  }     
  
  @media (min-width: 1220px){ 
    .comment-reply-title { 
      line-height: 1.2; 
      margin-bottom: 1rem;
    } 
  }     
  
  @media all{ 
    form { 
      border: none; 
      font-size: inherit; 
      line-height: inherit; 
      margin: 0; 
      padding: 0; 
      text-align: inherit;
    } 
  }     
  
  form { 
      border-color: initial;
  } 
  
  @media all{ 
    p { 
      font-family:   'drmohsen', sans-serif; 
      font-weight:  300;
      letter-spacing:   0 !important;
      border:  none; 
      font-size:  inherit; 
      line-height:  1.6; 
      margin:  0; 
      padding:  0; 
      text-align:  inherit;
      margin-bottom: 1rem; 
      margin-top: 0; 
      text-rendering: optimizelegibility; 
    } 
  }     
  
  p { 
      border-color: initial;
  } 
  
  @media all{ 
    h1 { 
      font-family:    'drmohsen', sans-serif; 
      font-weight:   700; 
      letter-spacing:   -0.0415625em; 
      border:   none; 
      font-size:  27px;
      line-height:   1.25; 
      margin:   1rem 0;
      padding:   0; 
      text-align:   inherit;
      font-feature-settings:  "lnum"; 
      font-variant-numeric:  lining-nums; 
    } 
  }     
  
  h1 { 
      border-color:  initial;
      font-family: "Cairo" !important; 
      font-weight: 700 !important;
  } 
  
  @media all{ 
    .item-box { 
      background:  #fff none repeat scroll 0 0; 
      float:  right; 
      height:  265px;
      margin-bottom:  .7rem; 
      padding:  .5rem .7rem .7rem; 
      vertical-align:  top; 
      width:  100%; 
      border-radius:  5px; 
      background-image:  none; 
      background-position-x:  0px; 
      background-position-y:  0px; 
      background-size:  initial; 
      background-repeat-x:  repeat; 
      background-repeat-y:  repeat; 
      background-attachment:  scroll; 
      background-origin:  initial; 
      background-clip:  initial; 
      background-color:  rgb(255, 255, 255);
    } 
  }     
  
  .item-box { 
      background-image: none; 
      background-color: rgb(24, 26, 27);
  } 
  
  @media all{ 
    .comments .comment  { 
      padding-top: 3.5rem;
    } 
  
    div.comment:first-of-type { 
      margin-top: 3.5rem; 
      padding-top: 0;
    } 
  
    small { 
      border: none; 
      font-size: inherit; 
      line-height: inherit; 
      margin: 0; 
      padding: 0; 
      text-align: inherit;
    } 
  }     
  
  small { 
      border-color: initial;
  } 
  
  @media all{ 
    .comment-reply-title small  { 
      display: block; 
      font-size: 1.6rem; 
      font-weight: 600; 
      letter-spacing: -0.0277em; 
      margin: 0.5rem 0 0 0; 
      white-space: nowrap;
    } 
  
    .comment-respond p  { 
      line-height: 1.1; 
      margin-bottom: 2rem; 
      margin-right: auto; 
      margin-left: auto;
    } 
  
    .comment-respond .comment-notes  { 
      color: #6d6d6d; 
      font-size: 1.0rem; 
      line-height: 1.2; 
      text-align: center;
    } 
  }     
  
  .comment-respond .comment-notes  { 
      color: rgb(163, 155, 143);
  } 
  
  @media all{ 
    .comment-respond p:not(.comment-notes)  { 
      max-width: 58rem;
    } 
  
    .comment-form-cookies-consent { 
      align-items: baseline; 
      display: flex;
    } 
  
    .bold { 
      font-weight: 600; 
      font-style: normal;
    } 
  }     
  
  .bold { 
      font-weight: 600;
  } 
  
  @media all{ 
    .post-wrapper header h1  { 
      margin: 0 0 1rem; 
      font-size: 27px;
    } 
  
    .post-info { 
      display: block; 
      margin: 0 0 20px;
    } 
  
    .clear { 
      clear: both;
    } 
  
    strong { 
      font-weight: 600; 
      font-style: normal;
    } 
  }     
  
  strong { 
      font-weight: 600;
  } 
  
  @media all{ 
    :where(img[class*="wp-image-"])  { 
      height: auto; 
      max-width: 100%;
    } 
  
    img { 
      display:  inline-block;
      border:   none; 
      font-size:   inherit; 
      line-height:   inherit; 
      margin:   0; 
      padding:   0; 
      text-align:   inherit;
      height:  auto; 
      max-width:  100%; 
      -ms-interpolation-mode: bicubic; 
    } 
  }     
  
  img { 
      border-color: initial;
  } 
  
  @media all{ 
    .aligncenter { 
      clear:   both;
      margin-top:  1rem; 
      margin-left:  auto;
      margin-right:  auto; 
    } 
  
    iframe { 
      display: block; 
      max-width: 100%;
    } 
  
    .content a:hover  { 
      opacity: .8;
    } 
  
    .item-box a  { 
      color: #29333f;
    } 
  }     
  
  .item-box a  { 
      color: rgb(199, 194, 187);
  } 
  
  @media all{ 
    .comment-body { 
      position: relative; 
      background: #fff; 
      padding: 20px; 
      border-radius: 5px; 
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    } 
  }     
  
  .comment-body { 
      background-image: initial; 
      background-color: rgb(24, 26, 27); 
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  } 
  
  @media all{ 
    .comment-reply-title small a  { 
      text-decoration: none;
    } 
  }     
  
  .comment-reply-title small a  { 
      text-decoration-color: initial;
  } 
  
  @media all{ 
    .comment-reply-title small a:hover  { 
      text-decoration: underline;
    } 
  }     
  
  .comment-reply-title small a:hover  { 
      text-decoration-color: initial;
  } 
  
  @media all{ 
    label { 
      display: block; 
      border:  none; 
      font-size:  1.6rem; 
      line-height:  inherit; 
      margin:  0 0 0.5rem 0;
      padding:  0; 
      text-align:  inherit;
      font-weight: 400; 
    } 
  }     
  
  label { 
      border-color: initial;
  } 
  
  @media all{ 
    .comment-respond label  { 
      display: block;
    } 
  }     
  
  textarea { 
      background-color:  #181a1b;
      border-color: #736b5e; 
      color: #e8e6e3;
  } 
  
  @media all{ 
    textarea { 
      display:   block; 
      border-color:    #dcd7ca; 
      color:    #000;
      -webkit-appearance:   none; 
      -moz-appearance:   none; 
      background:   #fff; 
      border-radius:   5px; 
      border-style:   solid; 
      border-width:   1px; 
      box-shadow:   none; 
      font-size:   1.0rem; 
      margin:   0; 
      max-width:   100%; 
      padding:   1.5rem 1.8rem; 
      width:   100%;
      height:  auto; 
      line-height:  1.5; 
      min-height: 50px;
    } 
  }     
  
  textarea { 
      border-color:   rgb(60, 65, 68); 
      color:   rgb(232, 230, 227);
      background-image:  initial; 
      background-color:  rgb(24, 26, 27); 
      box-shadow:  none;
      font-family: "Cairo" !important; 
      font-weight: 700 !important;
  } 
  
  @media all{ 
    .comment-respond textarea  { 
      margin-bottom:  0;
      height: 15rem;
    } 
  }     
  
  input { 
      background-color:  #181a1b;
      border-color: #736b5e; 
      color: #e8e6e3;
  } 
  
  @media all{ 
    input { 
      font-family:  'drmohsen', sans-serif; 
      font-weight:  bold; 
      letter-spacing:  0 !important;
      border-color: #dcd7ca; 
      color: #000;
    } 
  }     
  
  input { 
      border-color:  rgb(60, 65, 68); 
      color:  rgb(232, 230, 227);
      font-family: "Cairo" !important; 
      font-weight: 700 !important;
  } 
  
  @media all{ 
    input[type="text"] { 
      display:  block; 
      -webkit-appearance:  none; 
      -moz-appearance:  none; 
      background:  #fff; 
      border-radius:  3px; 
      border-style:  solid; 
      border-width:  1px; 
      box-shadow:  none; 
      font-size:  1rem; 
      margin:  0; 
      max-width:  100%; 
      padding:  0 .5rem; 
      width:  100%; 
      border: 1px solid #96a6af; 
      color: #29333f; 
      height: 36px; 
      line-height: 36px; 
      margin-bottom: .7rem; 
      outline: 0!important;
    } 
  }     
  
  input[type="text"] { 
      background-image:  initial; 
      background-color:  rgb(24, 26, 27); 
      box-shadow:  none;
      border-color: rgb(74, 80, 83); 
      color: rgb(199, 194, 187); 
      outline-color: initial !important;
  } 
  
  @media all{ 
    .comment-respond input[type="text"]  { 
      margin-bottom: 0;
    } 
  
    input[type="email"] { 
      display:  block; 
      direction:   ltr;
      -webkit-appearance:  none; 
      -moz-appearance:  none; 
      background:  #fff; 
      border-radius:  3px; 
      border-style:  solid; 
      border-width:  1px; 
      box-shadow:  none; 
      font-size:  1rem; 
      margin:  0; 
      max-width:  100%; 
      padding:  0 .5rem; 
      width:  100%; 
      border: 1px solid #96a6af; 
      color: #29333f; 
      height: 36px; 
      line-height: 36px; 
      margin-bottom: .7rem; 
      outline: 0!important;
    } 
  }     
  
  input[type="email"] { 
      background-image:  initial; 
      background-color:  rgb(24, 26, 27); 
      box-shadow:  none;
      border-color: rgb(74, 80, 83); 
      color: rgb(199, 194, 187); 
      outline-color: initial !important;
  } 
  
  @media all{ 
    .comment-respond input[type="email"]  { 
      margin-bottom: 0;
    } 
  
    input[type="url"] { 
      display:  block; 
      direction:   ltr;
      -webkit-appearance:  none; 
      -moz-appearance:  none; 
      background:  #fff; 
      border-radius:  3px; 
      border-style:  solid; 
      border-width:  1px; 
      box-shadow:  none; 
      font-size:  1rem; 
      margin:  0; 
      max-width:  100%; 
      padding:  0 .5rem; 
      width:  100%; 
      border: 1px solid #96a6af; 
      color: #29333f; 
      height: 36px; 
      line-height: 36px; 
      margin-bottom: .7rem; 
      outline: 0!important;
    } 
  }     
  
  input[type="url"] { 
      background-image:  initial; 
      background-color:  rgb(24, 26, 27); 
      box-shadow:  none;
      border-color: rgb(74, 80, 83); 
      color: rgb(199, 194, 187); 
      outline-color: initial !important;
  } 
  
  @media all{ 
    input[type="checkbox"] + label  { 
      display: inline; 
      font-weight: 400; 
      margin-right: 0.5rem;
    } 
  
    .comment-respond input[type="checkbox"] + label  { 
      font-size: 1.5rem; 
      line-height: 1.25;
    } 
  
    input[type="submit"] { 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      background: #000; 
      border: none; 
      border-radius: 50px; 
      color: #fff; 
      cursor: pointer; 
      display: inline-block; 
      font-size: 1.0rem; 
      font-weight: 600; 
      letter-spacing: 0.0333em; 
      line-height: 1.25; 
      margin: 0; 
      opacity: 1; 
      padding: 1.1em 1.44em; 
      text-align: center; 
      text-decoration: none; 
      text-transform: uppercase; 
      transition: opacity 0.15s linear;
    } 
  }     
  
  input[type="submit"] { 
      background-image: initial; 
      background-color: rgb(0, 0, 0); 
      border-color: initial; 
      color: rgb(232, 230, 227); 
      text-decoration-color: initial;
  } 
  
  @media all{ 
    .comment-respond #submit  { 
      display: block;
    } 
  
    .post-meta-wrapper { 
      margin-left: auto; 
      margin-right: auto; 
      display: inline-block;
    } 
  
    .post-share { 
      display: inline-block; 
      float: left;
    } 
  }     
  
  [data-darkreader-inline-color] { 
      color: var(--darkreader-inline-color) !important;
  } 
  
  @media all{ 
    b { 
      font-weight: 600; 
      font-style: normal;
    } 
  }     
  
  b { 
      font-weight: 600;
  } 
  
  @media all{ 
    .item-box .img-wrap  { 
      overflow: hidden; 
      position: relative; 
      max-height: 180px;
    } 
  
    .item-box .title  { 
      font-size:  1.2rem; 
      padding-top:  .6rem; 
      white-space:  normal;
      text-align: center;
    } 
  }     
  
  footer { 
      font-family: "Cairo" !important; 
      font-weight: 700 !important;
  } 
  
  @media all{ 
    .comment-meta { 
      line-height:  1; 
      margin-bottom:  1rem; 
      min-height:  4rem; 
      padding-right:  0;
      position:  relative; 
      border-bottom:  1px solid #ccc;
    } 
  }     
  
  .comment-meta { 
      border-bottom-color: rgb(62, 68, 70);
  } 
  
  @media all{ 
    .entry-content { 
      line-height: 1.5;
    } 
  }     
  
  .entry-content { 
      font-family: "Cairo" !important; 
      font-weight: 700 !important;
  } 
  
  @media all{ 
    .comment-content.entry-content { 
      font-size: 1.4rem;
    } 
  
    .group:after,.entry-content:after { 
      clear: both; 
      content: ""; 
      display: block;
    } 
  
    .comment-footer-meta { 
      align-items: center; 
      display: flex; 
      flex-wrap: wrap; 
      font-size: 1rem; 
      font-weight: 600; 
      justify-content: flex-start; 
      letter-spacing: 0.030833333em; 
      line-height: 1; 
      margin: 2.5rem -1.5rem -1rem 0; 
      text-transform: uppercase;
    } 
  
    ul { 
      box-sizing:     border-box;
      font-family:    'drmohsen', sans-serif; 
      font-weight:    bold; 
      letter-spacing:    0 !important;
      border:   none; 
      font-size:   inherit; 
      line-height:   inherit; 
      margin:   0; 
      padding:   0; 
      text-align:   inherit;
      list-style:  disc;
      margin-bottom: 0; 
      margin-top: 0; 
      padding-right: 0;
    } 
  }     
  
  ul { 
      border-color:  initial;
      list-style-image: initial;
  } 
  
  @media all{ 
    .post-meta { 
      color: #6d6d6d; 
      display: flex; 
      flex-wrap: wrap; 
      font-size: 1.5rem; 
      font-weight: 500; 
      list-style: none; 
      text-align: right;
    } 
  }     
  
  .post-meta { 
      color: rgb(163, 155, 143); 
      list-style-image: initial;
  } 
  
  @media all{ 
    .post-share .facebook  { 
      padding: 5px 10px; 
      background: #0675E8; 
      color: #fff; 
      border-radius: 3px; 
      font-size: 16px;
    } 
  }     
  
  .post-share .facebook  { 
      background-image: initial; 
      background-color: rgb(5, 94, 186); 
      color: rgb(232, 230, 227);
  } 
  
  @media all{ 
    .post-share .twitter  { 
      padding: 5px 10px; 
      background: #1DA1F2; 
      color: #fff; 
      border-radius: 3px; 
      font-size: 16px;
    } 
  }     
  
  .post-share .twitter  { 
      background-image: initial; 
      background-color: rgb(11, 118, 184); 
      color: rgb(232, 230, 227);
  } 
  
  @media all{ 
    .item-box .img-wrap img  { 
      width: 100%; 
      transition: all 0.3s ease-in-out; 
      height: 180px;
    } 
  
    .item-box .img-wrap img:hover  { 
      opacity: 0.8;
    } 
  
    .comment-author { 
      font-size: 1.5rem; 
      font-weight: 700;
    } 
  
    .comment-metadata { 
      color: #6d6d6d; 
      font-size: 1rem; 
      margin-top: 0.6rem;
    } 
  }     
  
  .comment-metadata { 
      color: rgb(163, 155, 143);
  } 
  
  @media all{ 
    .entry-content > *  { 
      margin-right: auto; 
      margin-left: auto; 
      margin-bottom: 1.25em;
    } 
  
    .entry-content p  { 
      line-height: 1.4;
    } 
  
    .entry-content > :first-child  { 
      margin-top: 0;
    } 
  
    .entry-content > :last-child  { 
      margin-bottom: 0;
    } 
  
    .entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide)  { 
      max-width: 58rem; 
      width: calc(100% - 4rem);
    } 
  
    .comment-content.entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide)  { 
      width: 100%;
    } 
  
    .comment-footer-meta > *  { 
      margin: 0 1.5rem 1rem 0;
    } 
  
    .post-meta li  { 
      flex-shrink: 0; 
      margin: 0 10px; 
      font-size: 15px;
    } 
  
    .post-meta .meta-wrapper  { 
      align-items: center; 
      display: flex; 
      flex-wrap: nowrap;
    } 
  
    .comment-meta a  { 
      color: inherit;
    } 
  }     
  
  .comment-meta a  { 
      color: inherit;
  } 
  
  @media all{ 
    .comment-author a:hover  { 
      text-decoration: none;
    } 
  }     
  
  .comment-author a:hover  { 
      text-decoration-color: initial;
  } 
  
  @media all{ 
    .comment-metadata a  { 
      text-decoration: none;
    } 
  }     
  
  .comment-metadata a  { 
      text-decoration-color: initial;
  } 
  
  @media all{ 
    .comment-metadata a:hover  { 
      text-decoration: underline;
    } 
  }     
  
  .comment-metadata a:hover  { 
      text-decoration-color: initial;
  } 
  
  @media all{ 
    .comment-reply-link { 
      background-color: #E79B3A; 
      color: #fff; 
      display: block; 
      padding: 0.4rem 0.9rem; 
      border-radius: 23px;
    } 
  }     
  
  .comment-reply-link { 
      background-color: rgb(164, 101, 20); 
      color: rgb(232, 230, 227);
  } 
  
  @media all{ 
    .comment-footer-meta a  { 
      text-decoration: none;
    } 
  }     
  
  .comment-footer-meta a  { 
      text-decoration-color: initial;
  } 
  
  @media all{ 
    .comment-meta .avatar  { 
      height:  4rem; 
      position:  absolute; 
      right:  -6.5rem;
      top:  0; 
      width:  4rem; 
      border-radius:  50%;
    } 
  
    .screen-reader-text { 
      border: 0; 
      clip: rect(1px,1px,1px,1px); 
      clip-path: inset(50%); 
      height: 1px; 
      margin: -1px; 
      overflow: hidden; 
      padding: 0; 
      position: absolute; 
      width: 1px; 
      word-wrap: normal!important;
    } 
  }     
  
  .screen-reader-text { 
      border-color: initial;
  } 
  
  @media all{ 
    .screen-reader-text { 
      border: 0; 
      clip: rect(1px, 1px, 1px, 1px); 
      -webkit-clip-path: inset(50%); 
      clip-path: inset(50%); 
      height: 1px; 
      margin: -1px; 
      overflow: hidden; 
      padding: 0; 
      position: absolute !important; 
      width: 1px; 
      word-wrap: normal !important; 
      word-break: normal;
    } 
  
    .post-meta .meta-icon  { 
      margin-left: 4px; 
      color: #3c9aeb;
    } 
  }     
  
  .post-meta .meta-icon  { 
      color: rgb(72, 165, 236);
  } 
  
  @media all{ 
    .fab { 
      display:  inline-block; 
      -moz-osx-font-smoothing:  grayscale; 
      -webkit-font-smoothing:  antialiased; 
      font-style:  normal; 
      font-variant:  normal; 
      text-rendering:  auto; 
      line-height:  1;
      font-family: "Font Awesome 5 Brands";
    } 
  
    .fa-facebook:before { 
      content: "\f09a";
    } 
  
    .fa-twitter:before { 
      content: "\f099";
    } 
  
    .fas { 
      display:   inline-block; 
      -moz-osx-font-smoothing:   grayscale; 
      -webkit-font-smoothing:   antialiased; 
      font-style:   normal; 
      font-variant:   normal; 
      text-rendering:   auto; 
      line-height:   1;
      font-family:  "Font Awesome 5 Free";
      font-weight: 900;
    } 
  
    .fa-user:before { 
      content: "\f007";
    } 
  
    .fa-comment:before { 
      content: "\f075";
    } 
  
    .post-meta a  { 
      color: inherit; 
      text-decoration: none;
    } 
  }     
  
  .post-meta a  { 
      color: inherit; 
      text-decoration-color: initial;
  } 
  
  @media all{ 
    .post-meta a:hover  { 
      text-decoration: underline;
    } 
  }     
  
  .post-meta a:hover  { 
      text-decoration-color: initial;
  } 
  
  
  